input {
    font-size:22px;
    display:block;
    padding-left: 130px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid lightgray;
    border-radius:0;

  }

  .field-wrap {
    position:relative;
    display: inline;
  }

  .full-height {
    height: 100%;

  }
  .paddingTop {
    padding-top: 50px;
    display: inline;
  }
  .iconwidth {
    width: 50px;
  }